services:
  broker:
    build:
      context: ./broker-service
      dockerfile: broker-service.dockerfile
    ports:
      - "8080:80"
    restart: always
    deploy:
      mode: replicated
      replicas: 1